@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
}

body {
    background-color: rgb(241, 241, 241);
    color: rgb(54, 54, 54);
}

:root {
    --text-dark: rgb(70, 70, 70);
}

::selection {
    background-color: #12bfdd;
    color: rgb(255, 255, 255);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}